<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  TourApp allows real estate agents and professional photographers to create quick and easy real estate virtual tours for their listings.
</p>
<p>
With TourApp, you can beatifully and inexpensively showcase a home for the world to see!
</p>