<% provide(:title, 'About') %>

<div class="page-header-cover"></div>
<h1 class="page-header-title">About</h1>

<div class="container about">
	<p class="mar-top30">Show & Tour started as a humble side project to serve our founder's real estate photography clients.</p> 

	<div class="center mar-top40 mar-bot40">
		<%= image_tag "heart.png", class: "center-img", height: 64 %>
		<h3>Then he thought: why not spread the love?</h3>
	</div>

	<p>We are young, hungry, and excited for how our virtual tours can help your business. Use them to market your listings, generate leads, and become the super hip multi-millionaire you were destined to be.</p>

	<p>Our greatest fear? Stagnancy and stodginess. So hang on. As the internet changes (at the speed of light), so does the way you need to market your listings. We’ll be there along the way- pushing the envelope, staying current, and generally having a grand time.</p>

	<div class="center">
		<h4 class="mar-top30">Questions? Want to learn more? </h4>
		<p><a href="/contact">Get in touch</a></p>
	</div>
</div>