<!-- Preloader -->

	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- Make Background Photo available to JS -->
	<div id="bg_photo_url" data-url="<%= asset_path "neighborhood.jpg" %>"></div>

	<!-- Intro section start -->

	<section class="intro">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="i_header">
						<div class="logo">
							<%= image_tag "tour-default/tour-logo.png" %>
						</div>
							<h1>Show & Tour</h1>
							<p>Real estate virtual tours worth looking at. </p>
					</div>
				
					<div class="i_cicle">
						<!-- Timer: Your date here -->
						<div class="countdown-time animated bounceIn" data-date="2014-09-29 08:00:00" data-timer="100"></div>
					</div>

					<div class="i_footer">
						<a href="#subscribe" class="btn btn-default btn-lg btn-theme">Keep me posted</a>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- Intro section end -->

	<!-- About section start -->

	<section class="about">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<h2>About</h2>
					<div class="header-deveider"></div>
					<p class="wow fadeInUp">Based in the Treasure Valley of Idaho, Show & Tour combines functional virtual tours with clean design. We exist to help real estate agents do what they do best: unite clients with homes they love and help clients quickly and effectively sell their home. Our tours help homes sell themselves.</p>
				</div>

			</div>
		</div>
	</section>

	<!-- About section end -->

	<%= render "static_pages/footer" %>