<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>We are here to help!</p>
<p>For sales inquiries, please contact <a href="mailto:info@tourapp.com">info@tourapp.com</a>.</p>
<p>For support, please consult the <a href="support">support documentation</a>, or <a href="mailto:support@tourapp.com">support@tourapp.com</a>.</p>