<div class="page-header-cover"></div>
<h1 class="page-header-title">Contact</h1>

<div class="container mar-bot50">
	<p class="center mar-bot50">We'd love to hear from you. Send us a note, and we'll respond as quickly as possible.</p>
	
	<div class="col-sm-5 col-sm-offset-1">
		<h3 class="center"><i class="fa fa-rocket"></i> Inquiries and Sales</h3>
		<a href="mailto:info@showandtour.com" class="contact btn btn-info btn-lg mar-top30">info@showandtour.com</a>
	</div>

	<div class="col-sm-5">
		<h3 class="center"><i class="fa fa-life-ring"></i> Support and Billing</h3>
		<a href="mailto:support@showandtour.com" class="contact btn btn-info btn-lg mar-top30">support@showandtour.com</a>
	</div>
</div>