<% provide(:title, 'Features') %>
<% provide(:body_id, 'home') %>
<% content_for :head do %>
	<meta name="description" content="Show and Tour provides beautiful online virtual tours for real estate. Create fresh and modern virtual tours for your home listings. Learn more today!">
<% end %>


<div id="features">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>Gain Leads, Attract Clients, Find Buyers</h2>
					<p>Create lasting impressions with fresh and modern virtual tours.</p>
				</div>
			</div>

			<!-- === FEATURE ONE === -->
			<div class="row feature">
				<div class="col-md-6 info">
					<h4><i class="fa fa-home"></i>Intuitive Tour Creation</h4>
					<p>
						Quickly and easily create and display tours with an interface simple enough for everyone. Multiple photo uploads, drag-and-drop photo ordering, quick and easy labeling help you create your first tour in seconds.
					</p>
				</div>
				<div class="col-md-6 image">
					<img alt="Show and Tour tour builder virtual tours" class="img-responsive img-shadow" src="/assets/features/tour-creation-febe02148ada70d5767158ededf2394a.jpg">
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE TWO === -->
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4><i class="fa fa-picture-o"></i>Unlimited Hi-Res Photos</h4>
					<p>
						Photos are <em>the</em> way to build interest in your listing. This is why we encourage you to use large, hi-res photos, and why we don't limit the number of photos you can add to your tours. Your listings never looked better.
					</p>
				</div>
				<div class="col-md-6 image">
					<img alt="Show and Tour tour builder virtual tours" class="img-responsive img-shadow" src="/assets/features/hi-res-photos-c0366d60b7620eac00c09a049f84862f.jpg">
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE THREE === -->
			<div class="row feature">
				<div class="col-md-6 info">
					<h4><i class="fa fa-tablet"></i>Mobile Friendly</h4>
					<p>
						You need a virtual tour that looks great no matter what device it is viewed on. Show &amp; Tour listings are beautiful on any device from the largest monitor to the smallest smartphone and everywhere in between.
					</p>
				</div>
				<div class="col-md-6 image">
					<img alt="Show and Tour mobile friendly virtual tours" class="img-responsive img-shadow" src="/assets/features/mobile-46453d09f95bf29a9132adce682058c1.jpg">
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE FOUR === -->
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4><i class="fa fa-code"></i>Fresh and Clean Professional Design</h4>
					<p>
						Your clients have spent time and money keeping their home updated and fresh. It only makes sense that their virtual tour would do the same. We use the latest technology and web standards to deliver cutting edge graphics and designs that truely showcase the beauty of any home.
					</p>
				</div>
				<div class="col-md-6 image">
					<img alt="Show and Tour virtual tour builder professional design" class="img-responsive img-shadow" src="/assets/features/design-ca718b81f83e34b1d23f2a88d7d7d12a.jpg">
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE FIVE === -->
			<div class="row feature">
				<div class="col-md-6 info">
					<h4><i class="fa fa-thumbs-up"></i>Social Media Integration</h4>
					<p>
						Help others spread the word about your listing! Allow clients and viewers to easily share virtual tours of homes they love with family and friends via Facebook, Twitter, and email.
					</p>
				</div>
				<div class="col-md-6 image">
					<img alt="Show and Tour virtual tours social media" class="img-responsive img-shadow" src="/assets/features/social-media-2fcba17251b784b2f11141be00c98c8e.jpg">
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE SIX === -->
			<div class="row feature backwards">
				<div class="col-md-6 info">
					<h4><i class="fa fa-map-marker"></i>Embedded Google Maps</h4>
					<p>
						Location, location, location. With Show &amp; Tour, your tours allow viewers to see large and detailed maps of exacly where their next home can be found.
					</p>
				</div>
				<div class="col-md-6 image">
					<img alt="Show and Tour virtual tours embedded maps" class="img-responsive img-shadow img-border" src="/assets/features/maps-1db4d8f381966b492ce5d851c70e4886.jpg">
				</div>
			</div>
			<div class="divider"></div>

			<!-- === FEATURE SEVEN === -->
			<div class="row feature">
				<div class="col-md-6 info">
					<h4><i class="fa fa-users"></i>Branded and Unbranded Options</h4>
					<p>
						You need your name to be out there, and our branded tours do just that. You'll find yourself prominently featured toward the top of the tour. You'll also have an alternate link to use when agent information is not permitted.
					</p>
				</div>
				<div class="col-md-6 image">
					<img alt="Show and Tour virtual tours branded" class="img-responsive img-shadow img-border" src="/assets/features/branded-tour-031291e57a02cc4ac091ff759e2bbb26.png">
				</div>
			</div>
			<div class="divider"></div>

		</div>		
	</div>

	<!-- === PRICING === -->

	<div id="pricing">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h3>Get started risk-free.</h3>
					<p>Your first tour is on us.</p>
				</div>
			</div>
			<div class="row charts">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="chart featured">
						<h2>Your first tour is FREE. Then:</h2>
						<div class="quantity">
							<span class="dollar">$</span>
							<span class="price">12</span>
							<span class="period">/tour</span>
						</div>
						<div class="mar-top20">- or -</div>
						<div class="quantity">
							<span class="dollar">$</span>
							<span class="price">29</span>
							<span class="period">/mo for unlimited tours</span>
						</div>
						<!-- <div class="plan-name">Early Adopter</div> -->
						<div class="specs">
							<div class="spec">
								<span class="variable">High-Res</span>
								photo support
							</div>
							<div class="spec">
								<span class="variable">Mobile</span>
								friendly
							</div>
							<div class="spec">
								<span class="variable">Branded & Unbranded</span>
								options
							</div>
						</div>
						<br />
						<%= link_to "Sign Up for Free", new_user_registration_path, class: "button", :'data-no-turbolink' => "true" %>
						
					</div>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>