<% provide(:body_id, 'home') %>

	<div id="hero">
		<div class="container">
			<h1 class="hero-text animated fadeInDown">
				Virtual Tours<br /> Worth Looking At
			</h1>
			<p class="sub-text animated fadeInDown">
				Harness the power of the modern web for your listings.
			</p>
			<div class="cta animated fadeInDown">
				<a href="features.html" class="button-outline">Learn More</a>
				<%= link_to "Sign Up", new_user_registration_path, class: "button", :'data-no-turbolink' => "true" %>
			</div>
			<div class="img"></div>
		</div>
	</div>

	<div id="features">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h2>Gain Leads, Attract Clients, Find Buyers</h2>
					<p>Create lasting impressions with fresh and modern virtual tours.</p>
				</div>
			</div>
			<div class="row feature">
				<div class="col-md-6 info">
					<h4>A place on the web to showcase your listings in a beautiful way.</h4>
					<p>
						Your real estate listings have found a home. 
						<br /><br />Fresh and elegant design, mobile friendly, high-resolution photos, and easy to use... virtual tours to help you gain leads, attract clients, and find buyers.
					</p>
				</div>
				<div class="col-md-6 image">
					<%= image_tag("home/agent-with-computer.jpg", class: "img-responsive", alt: "Show and Tour Real Estate Agent") %>
				</div>
			</div>
		</div>		
	</div>

<!-- 	<div id="slider">
		<div class="container">
			<div class="row header">
				<h3>Includes all pages that a complete theme should have</h3>
			</div>
			<div class="row">
				<div class="col-md-12 slide-wrapper">
					<div class="slideshow">
						<div class="btn-nav prev"></div>
						<div class="btn-nav next"></div>
						<div class="slide active">
							<img src="images/slider/slide3.png" alt="slide" />
						</div>
						<div class="slide">
							<img src="images/slider/slide4.png" alt="slide" />
						</div>
						<div class="slide">
							<img src="images/slider/slide1.png" alt="slide" />
						</div>
						<div class="slide">
							<img src="images/slider/slide5.png" alt="slide" />
						</div>
						<div class="slide">
							<img src="images/slider/slide2.png" alt="slide" />
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div> -->

	<div id="features">
	<div id="second-option" class="front-page-features">
		<div class="container">
			<div class="row">
				<div class="col-md-4 feature">
					<i class="fa fa-home"></i>
					<strong>Intuitive Tour Creation</strong>
					<p>Create a tour in seconds. Upload multiple photos at once, type in basic listing information, and you're ready to go.</p>
				</div>
				<div class="col-md-4 feature">
					<i class="fa fa-picture-o"></i>
					<strong>Unlimited Hi-Res Photos</strong>
					<p>Don't worry about running out of space or being limited in how many photos you can show; with us, the sky's the limit.</p>
				</div>
				<div class="col-md-4 feature">
					<i class="fa fa-tablet"></i>
					<strong>Mobile Friendly</strong>
					<p>Tours are beautiful on a desktop computer, laptop, tablet or smartphone. Your listing is ready no matter how it is viewed.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 feature">
					<i class="fa fa-code"></i>
					<strong>Clean, Professional Design</strong>
					<p>Our themes use the latest in cutting edge design. Functional, beautiful, and fresh.</p>
				</div>
				<div class="col-md-4 feature">
					<i class="fa fa-thumbs-up"></i>
					<strong>Social Media Integration</strong>
					<p>Use the power of social media to extend your reach. Viewers can instantly share your listing with their friends on multiple platforms including Facebook and Twitter.</p>
				</div>
				<div class="col-md-4 feature">
					<i class="fa fa-users"></i>
					<strong>Branded and Unbranded Options</strong>
					<p>Each listing has two versions: one that contains your contact information, and one that doesn't. Use either, depending on your needs.</p>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div class="container">
			<div class="row center">
				<a class="button-clear" href="features.html">
							<span>Learn More</span></a>
				<%= link_to "Sign Up", new_user_registration_path, class: "button", :'data-no-turbolink' => "true" %>
			</div>
		</div>

	<div id="pricing">
		<div class="container">
			<div class="row header">
				<div class="col-md-12">
					<h3>$12/Month for Unlimited Tours</h3>
					<p>No contract. Cancel when you want. 30 day money back guarantee.</p>
					<a class="button-clear" href="features.html"><span>Learn More</span></a>
					<%= link_to "Sign Up", new_user_registration_path, class: "button", :'data-no-turbolink' => "true" %>
				</div>
			</div>
		</div>
	</div>

	