	<!-- Make Background Photo available to JS -->
	<div id="bg_photo_url" data-url="<%= asset_path "neighborhood.jpg" %>"></div>

	<!-- About section start -->

	<nav class="custom-nav">
		<div class="container-fluid">
			<div class="row">
				<%= link_to "< Home", root_url, class: "btn btn-default btn-theme btn-home", :'data-no-turbolink' => "true" %>
			</div>
		</div>
	</nav>


	<section class="about">
		<div class="container">

			<div class="row">

				<div class="col-md-12">
					<h2>Add Your Two Cents</h2>
					<div class="header-deveider"></div>
					<p class="wow fadeInUp">Show and tour is a collaborative effort, built from a desire to showcase homes in a beautiful and useful way. We'd love to hear your thoughts.</p>
					<br />
					<div id="surveyMonkeyInfo">
						<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=lm9Z38CzRI5XsTXmhqGZrw_3d_3d"> </script>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- About section end -->


	<%= render "static_pages/footer" %>