	<!-- Make Background Photo available to JS -->
	<div id="bg_photo_url" data-url="<%= asset_path "neighborhood.jpg" %>"></div>

	<!-- About section start -->

	<nav class="custom-nav">
		<div class="container-fluid">
			<div class="row">
				<%= link_to "< Home", root_url, class: "btn btn-default btn-theme btn-home", :'data-no-turbolink' => "true" %>
			</div>
		</div>
	</nav>


	<section class="about">
		<div class="container">

			<div class="row">

				<div class="col-md-12">
					<h2>Add Your Two Cents</h2>
					<div class="header-deveider"></div>
					<p class="wow fadeInUp">Show and tour is a collaborative effort, built from a desire to showcase homes in a beautiful and useful way. We'd love to hear your thoughts.</p>
					<br />
					<div id="surveyMonkeyInfo">
						<script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=lm9Z38CzRI5XsTXmhqGZrw_3d_3d"> </script>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- About section end -->


	<!-- Footer start -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div id="subscribe" class="col-md-12 subtitle">
					<h2>Subscribe</h2>
					<div class="header-deveider"></div>
					<p class="wow fadeInUp">Sign up to be the first to know when Show & Tour is ready to use.<br /> We promise to never share your information, and to contact you exceedingly sparingly.</p>
				</div>

				<!-- Begin MailChimp Signup Form -->
				<div class="col-md-12">
						<div id="mc_embed_signup">
						<form action="//showandtour.us9.list-manage.com/subscribe/post?u=872f0fa10c0bc16a60d60867a&amp;id=566305c614" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate email-subscription-form form-inline wow fadeInUp" target="_blank" novalidate role="form">
						<div class="mc-field-group">
							<label for="mce-EMAIL" class="sr-only">Email Address  <span class="asterisk">*</span>
						</label>
							<input type="email" value="" name="EMAIL" class="required email form-control input-box" id="mce-EMAIL" placeholder="Your Email *">
						</div>
						<br />
						<div class="mc-field-group">
							<label for="mce-FNAME" class="sr-only">First Name </label>
							<input type="text" value="" name="FNAME" class="form-control input-box" id="mce-FNAME" placeholder="First Name">
						</div>
						<br />
						<div class="mc-field-group">
							<label for="mce-LNAME" class="sr-only">Last Name </label>
							<input type="text" value="" name="LNAME" class="form-control input-box" id="mce-LNAME" placeholder="Last Name">
						</div>
							<div id="mce-responses" class="clear">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;"><input type="text" name="b_872f0fa10c0bc16a60d60867a_566305c614" tabindex="-1" value=""></div>
						    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-theme"></div>
						</form>
						</div>
				</div>

				<!--End mc_embed_signup-->


				<div id="share" class="col-md-12 wow fadeInUp">
					<p class="copyright">
						© 2014 Show & Tour, All Rights Reserved
					</p>
				</div>

			</div>
		</div>
	</footer>