<div class="col-xs-12 top-pad60" > 
	<div id="banner" class="bannercontainer centerme dark"> </div>
		<ul>
			<!-- Photos -->
			<% @photos.each do | photo | %>
			<li data-transition="fade" data-kenburn="on" data-startalign="right,bottom" data-zoom="in" data-zoomfact="3" data-endAlign="center,top" data-panduration="12" data-colortransition="4">
				<img alt="" src="<%= photo.photo_url(:full).to_s %>" data-bw="images/slides/image1_blur.jpg" data-thumb="<%= photo.photo_url(:preview).to_s %>">	

				
				<div class="creative_layer">
					<div class="cp-left faderight" >
						<p class="cp-title">The Responsive Ken Burner</p>
						<p>This is the product that you<br><i><strong>all have been waiting for!</strong></i></p>								
						<p>A Ken Burns JQuery Banner solution which<br>is fully-responsive and offering cutting-edge<br>caption effects!</p>
						<a style="margin-top:10px" class="kb-button" href="light.html">See Light Example</a>
						<div class="clear"></div>
					</div>
				</div>

			</li>
			<% end %>
		</ul>
</div>
<div class="bannershadow centerme"><img width="100%" height="40px" src="assets/kbtest/bannershadow.png"></div>	

<!--
##############################
 - ACTIVATE THE BANNER HERE -
##############################
-->
<script type="text/javascript">
	 				 
	 // LOADING AND STARTING THE BANNER PLUGIN ITSELF
	$(document).ready(function() {
		$.noConflict();					 									
		
		jQuery('#banner').kenburn(
			{
				thumbWidth:50,
				thumbHeight:50,
				
				thumbAmount:4,																					
				thumbStyle:"thumb",
				thumbVideoIcon:"off",
				
				thumbVertical:"bottom",
				thumbHorizontal:"center",							
				thumbXOffset:0,
				thumbYOffset:40,
				bulletXOffset:0,
				bulletYOffset:-16,
				
				hideThumbs:"on",
																																							
				touchenabled:'on',
				pauseOnRollOverThumbs:'off',
				pauseOnRollOverMain:'on',
				preloadedSlides:2,							
				
				timer:7,
				
				debug:"off",						
		});		
});
</script>
