<% provide(:title, 'My Leads') %>
<div class="container-fluid">
    <h1 class="tours_title">My Leads</h1>
    <br>

    <p class="center mar-bot20">These are individuals who have submitted the "Schedule a Showing" form on one of your tours.</p>
	<div class="leads-table">

        <% if @user.leads.any? %>
        <div class="table-responsive">
            <table class="tours table">
                <thead>
            	<tr id="no-background">
            		<th>Created</th>
                    <th>Listing</th>
            		<th>Name</th>
            		<th>Email/Phone</th>
                    <th>Schedule Showing?</th>
                    <th>Want More Info?</th>
                    <th>List of Similar Homes?</th>
            	</tr>
                </thead>
                
                <tbody>
                <%= render @leads %>
                </tbody>
            </table>
        </div>
        <%= will_paginate @leads, renderer: BootstrapPagination::Rails %>
        <% else %>
        <h1> No leads found!</h1>
        <% end %>
	</div>
</div>