<% provide(:title, 'Manage Tours') %>
<div class="container">
	<div class="dashboard-tours">
	    <h1 class="tours_title">Manage Tours</h1>
        <% if @user.tours.any? %>
        <div class="table-responsive">
            <table class="tours table table-striped">
                <thead>
            	<tr>
            		<th>Created</th>
            		<th>Address</th>
            		<th>City</th>
            		<th>State</th>
            		<th>Zip</th>
            		<th>Price</th>
                    <th> </th>
            	</tr>
                </thead>
                
                <tbody>
                <%= render @tours %>
                </tbody>
            </table>
        </div>
        <%= will_paginate @tours %>
        <% else %>
        <h1 class="no_tours_found"> No tours found! <%= link_to "Create one.", new_tour_path(user_id: @user.id) %></h1>
        <% end %>
	</div>
</div>