<% provide(:title, 'Create Tour') %>
<h1>Create a Tour</h1>

<div class="row">

	<!-- Begin 'Tour Info' Column -->

	<div class="col-md-4">
		<h3> Tour Info </h3>
		<br />
		<%= bootstrap_form_for(@tour, user_id: @user.id) do |f| %>
			<%= render 'shared/tour_error_messages' %>

			<%= render(:partial => "form", :locals => {:f => f}) %>

			<br />

			<%= f.submit "Save Tour Info", class: "btn btn-large btn-primary center" %>
		<% end %>
	</div>

	<!-- Begin 'Add Photos' Column -->

	<div class="col-md-7 col-md-offset-1">
		<h3> Add Photos: </h3>
	</div>
</div>
