<% provide(:title, "Page Not Found") %>
<% provide(:body_id, 'not-found') %>
<% provide(:body_class, 'not-found-page') %>

<div class="info">
	
	<p>The page you're looking for doesn't exist.</p>
	<h1>404</h1>
	<p>If you need assistance, please contact <a href="mailto:support@showandtour.com">support@showandtour.com</a>.</p>
	
</div>