/* Universal */

body {
	background-color: #EEE;
	background:url(image-path('tour-elegant/house_bkgrnd.jpg')) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.left {
	float: left;
	text-align: left;
}

.center {
     float: none;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
}

/* Typography */

.tour-title {
	font-size: 34px;
	color: white;
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	letter-spacing: .05em;
	margin: 12px 0;
}

.subhead {
	color: white;
	font-family: 'Cabin', sans-serif;
	letter-spacing: normal;	
	font-size: 16px;
	margin: -12px 0 5px 0;

}

@media screen and (max-width: 768px) {
    h1 {
        font-size:28px;
    }
    .subhead {
    	font-size: 14px;
    }
}
 
@media screen and (max-width: 568px) {
    h1 {
        font-size:18px;
    }
        .subhead {
    	font-size: 14px;
    }
}




/* Top Header */

.header {
	position: absolute;
	width: 100%;
	background-color: #292929;
	border-bottom: 5px solid #C3532D;
	margin-top: -65px;
	z-index: 1000;
}

.ribbon {
	float: left;
	position: absolute;
	width: 110px;
	margin-left: 15px;
	z-index: -1000;
}

.info-icn-header {
	float: right;
	border: 2px solid #EEE;
	border-radius: 100%;
	width: 45px;
	margin: -56px 12px 0 0;
}

@media screen and (max-width: 768px) {
    .ribbon {
    	width: 80px;
    	margin-left: 5px;
    }
    .info-icn-header {
    	width: 40px;
    	margin: -50px 8px 0 0;
    }
}
 
@media screen and (max-width: 568px) {
    .ribbon {
    	width: 60px;
    	margin-left: 5px;
    }
    .info-icn-header {
    	width: 35px;
    	margin: -43px 5px 0 0;
    }
}

/* Gallery */
#gallery-wrapper {
	width: 100%;
}

/*.gallery-pad {
	margin-top: 10px;
} */

#bannerscollection_zoominout_generous {
	margin-top: 30px;
}

/* Left column */

/* Nav buttons */

.top-pad60 {
	padding-top: 60px;
}

#other-info-btns {

}

#other-info-btns ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#other-info-btns ul li {
	display: inline;
	padding: 0 3px;

}

.nav-label {
	font-size: .7em;
	font-family: 'Cabin', sans-serif;
	text-align: center;
	clear: both;
	color: #322f31;
}

.info_btn_active img {
	width: 50px;
	border-radius: 100%;
	border: 2px solid #322f31;
}

.info_btn_inactive img {
	width: 50px;
	border-radius: 100%;
}

#info-icon {
	width: 100%;
}

/* Info Panels */

#info-panels {
	margin-top: 25px;
}

.panel-label {
	clear: both;
	padding-top: 15px;
	font-family: 'Cabin', sans-serif;
	font-size: 1.3em;
}

.panel-label-switch {}

.panel-label-line {
	width: 100%;
	padding-top: 10px;
	border-bottom: 1px dotted #BBB;
}

.info-panel {
	clear: both;
	margin: 15px 10px 0 10px;
}

.info-panel-switch {}

.description {
	color: #322f31;
	text-align: left;
	line-height: 1.3em;
}

.home-specs {
	margin-bottom: 120px;
}

.home-specs li {
	width: 100%;

}

.home-specs-value {
	padding-left: 5px;
}

#map {
	height: 350px;
	width: 100%;
}

/* Agent Info */

#agent-info-wrapper {
	width: 400px;
	height: 50px;
	margin: 15px auto 0 auto;
}

.tour-user-image {
	float: left;
}

#agent-contact-info {
	float: left;
	margin: 10px 0 0 10px;
	font-family: 'Cabin', sans-serif;
	font-size: 1.1em;
}

.agent-info {
	margin: 2px 0 0 10px;
}

#agent-name {
	font-size: 1.1em;
}

/* Social Share Btns */

.social-share-wrapper {
	width: 300px;
	margin: 15px auto;
}

#social-label {
	font-weight: bold;
	font-family: 'Cabin', sans-serif;
	font-size: 1.4em;
	color: #322f31;
	margin: 15px 0 0 0;
	text-align: center;
}

#social-icons-wrapper {
	width: 175px;
	margin: 5px auto;
}

.social-icon img {
	height: 42px;
	width: 42px;
	float: left;
	margin: 0 8px;
}

/* Footer */

.copyright-text {
	color: #777;
	font-size: small;
	float: right;
	margin: 40px 0 25px 0;
}
