 @import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #777;
$grayLight: #777;
$grayLighter: #777;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

ul {
  list-style: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.small-grey {
  color: $grayLight;
  font-size: 14px;
  line-height: 16px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
        float: left;
        margin-left: 10px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  @include box_sizing;
} 

  
  
  

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  /*@extend .control-group;*/
  @extend .has-error;
}


/* Dashboard */

.profile-name {
  font-size: 1.8em;
  margin: 20px 0 5px 3px;
}

.profile-pic {
  margin: 10px 0;
}

.profile-info {
  color: $grayLight; 
  li {
    padding: 5px 0;
    margin: 0 0 0 -30px;
  }
}

.dashboard-btn {
  margin-top: 25px;
  width: 100%;
  padding: 30px 0;
  font-size: 1.2em;
  vertical-align: middle;
}

.glyphicon-lg {
  font-size: 2em;
}

.dashboard-btn-text {
}

.dashboard-tours {
  clear: both;  
  margin-top: 30px;
}

/* Dashboard tours table */

.tours_title {
  float: left;
  font-size: 2em;
  text-align: left;
}

.tours {
  clear: both;
  th, td { 
    padding: 8px;
   }
   td {
    border-top: 1px solid #e8e8e8;
   }
}

.no_tours_found {
  margin-top: 4em;
  clear: both;
  font-size: 1.5em;
  letter-spacing: normal;
}

/* Manage Tours table */

.col-created {
  width: 30px;
}

.col-address {
  width: 250px;
}

.col-city {
  width: 150px;
}

.col-state {
  width: 30px;
}

.col-zip {
  width: 40px;
}

.col-price {
  width: 100px;
}

/* Edit User */

.upload-btn {
  border: none;
  padding: 20px 0 0 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}