/* ======================================
	Music button
====================================== */

.sound-area {
    font-family: "Lato";
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    width: 60px;
    line-height: 1.3;
    border-radius: 10px 10px 0 0;
    z-index: 5000;
    i {
        color: white;
        margin-top: 10px;
    }
    span {
        padding-bottom: 10px;
        line-height: 2;
        color: white;
    }
    #sound-off {
        display: none;
    }
}

/* ======================================
	Schedule button
====================================== */

.schedule-btn {
	position: fixed;
	bottom: 0;
	margin: 0 0 10px 10px;
	background-color: white;
	border: 3px solid #6d6d6d;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	z-index: 1000;
	font: 500 16px/1.4 'Lato', sans-serif;
	color: #6d6d6d;
	cursor: pointer;
	@media (max-width:767px){
		font-size: .8em;
		padding: 10px;
	}
}

#scheduleShowingModal {
	font: 500 16px/1.4 'Lato', sans-serif;
	a {
		color: #6d6d6d;
	}
}

.lead-form {
	width: 80%;
	margin: 0 auto;
	.form-group {
		clear: both;
	}
}

.scheduler-submit-btn {
	margin-top: 20px;
	text-align:center;
}

/* ======================================
	Photo info
====================================== */

.photo-info-icon {
	position: absolute;
	right: 0;
	margin: 20px;
	cursor: pointer;
}

.photo-info-wrapper {
	display: none;
	position: absolute;
	right: 110px;
	margin-top: 10px;
	width: 412px;
	background-color: #f1f1f1;
	border: 1px solid #e3e3e3;
	z-index: 100;
}

.photo-info-logo {
	padding: 10px 0 10px 10px;
	float: left;
	img {
		height: 130px;
		width: 130px;
	}
}

.photo-info-text {
	float: right;
	width: 250px;
	margin: 10px;
	text-align: center;
	font-family: "Lato", Verdana, Helvetica, sans-serif;
	font-size: .8em;
}

.photo-info-text > div {
	margin-bottom: 5px;
}

.photo-info-text > .photo-info-title {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 15px;
	color: #3f3f3f;
}

.photo-info-text a {
	color: #6d6d6d;
}













