<div class="col-md-8 col-sm-7 col-xs-12 top-pad" > 
	<div id="gallery-container">
		<ul class="items--small">
			<li class="item"><a href="#"><%= image_tag @tour.photos.first %></a></li>

		</ul>
	</div>
</div>