@import 'bootstrap-sprockets';
@import 'bootstrap';

/* mixins, variables, etc. */

$grayMediumLight: #777;
$grayLight: #777;
$grayLighter: #DEDEDE;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear {
  clear: both;
}

ul {
  list-style: none;
}

hr {
    border: 0;
    margin: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.indent {
  margin-left: 35px;
}

.top-pad15 {
  padding-top: 15px;
}

.margin-top5 {
  margin-top: 5px;
}

.margin-top {
  margin-top: 10px;
}

.margin-top15 {
  margin-top: 15px;
}

.margin-top25 {
  margin-top: 25px;
}

/* ---- padding ---- */
/* top */
.pad-top0 { padding-top: 0; }
.pad-top5 { padding-top: 5px; }
.pad-top10 { padding-top: 10px; }
.pad-top15 { padding-top: 15px; }
.pad-top20 { padding-top: 20px; }
.pad-top25 { padding-top: 25px; }
.pad-top30 { padding-top: 30px; }
.pad-top35 { padding-top: 35px; }
.pad-top40 { padding-top: 40px; }

/* bottom */
.pad-bot0 { padding-bottom: 0; }
.pad-bot5 { padding-bottom: 5px; }
.pad-bot10 { padding-bottom: 10px; }
.pad-bot15 { padding-bottom: 15px; }
.pad-bot20 { padding-bottom: 20px; }
.pad-bot25 { padding-bottom: 25px; }
.pad-bot30 { padding-bottom: 30px; }
.pad-bot35 { padding-bottom: 35px; }
.pad-bot40 { padding-bottom: 40px; }


/* ---- margin --- */
.mar-left5 { margin-left: 5px; }
.mar-left10 { margin-left: 10px; }
.mar-left15 { margin-left: 15px; }
.mar-left20 { margin-left: 20px; }
.mar-left25 { margin-left: 25px; }
.mar-left30 { margin-left: 30px; }

.mar-right5 { margin-right: 5px; }
.mar-right10 { margin-right: 10px; }
.mar-right15 { margin-right: 15px; }
.mar-right20 { margin-right: 20px; }
.mar-right25 { margin-right: 25px; }
.mar-right30 { margin-right: 30px; }

/* top */
.mar-top0 { margin-top: 0; }
.mar-top5 { margin-top: 5px; }
.mar-top10 { margin-top: 10px; }
.mar-top15 { margin-top: 15px; }
.mar-top20 { margin-top: 20px; }
.mar-top25 { margin-top: 25px; }
.mar-top30 { margin-top: 30px; }
.mar-top35 { margin-top: 35px; }
.mar-top40 { margin-top: 40px; }
.mar-top50 { margin-top: 50px; }
.mar-top60 { margin-top: 60px; }
.mar-top70 { margin-top: 70px; }
.mar-top100 { margin-top: 100px; }
.mar-top130 { margin-top: 130px; }

/* bottom */
.mar-bot0 { margin-bottom: 0; }
.mar-bot5 { margin-bottom: 5px; }
.mar-bot10 { margin-bottom: 10px; }
.mar-bot15 { margin-bottom: 15px; }
.mar-bot20 { margin-bottom: 20px; }
.mar-bot25 { margin-bottom: 25px; }
.mar-bot30 { margin-bottom: 30px; }
.mar-bot35 { margin-bottom: 35px; }
.mar-bot40 { margin-bottom: 40px; }
.mar-bot50 { margin-bottom: 50px; }
.mar-bot60 { margin-bottom: 60px; }
.mar-bot80 { margin-bottom: 80px; }
.mar-bot100 { margin-bottom: 100px; }

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.2em;
  font-weight: 500;
  color: $grayLight;
}

p {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}

.grey {
  color: $grayLight;
}

.light-grey {
  color: $grayLighter;
}

.small {
  color: $grayLight;
  font-size: 14px;
  line-height: 16px;
}

.icon-pad {
  margin-right: 10px;
}

.strikethrough {
  text-decoration: line-through;
  color: #FA7878 !important;
}

.discount {
  color: #FA7878;
  font-size: 15px;
  margin: -42px 0 0 598px;
  border: 2px solid #FA7878;
  padding: 3px;
  border-radius: 3px;
  position: absolute;
  -webkit-transform: rotate(15deg); /* Safari */
  -moz-transform: rotate(15deg); /* Firefox */
  -ms-transform: rotate(15deg); /* IE */
  -o-transform: rotate(15deg); /* Opera */
  span {
    font-size: 13px
  }
  @media (max-width: 990px) {
    margin: -42px 0 0 462px;
  }
  @media (max-width: 730px) {
    margin: -42px 0 0 440px;
  }
  @media (max-width: 600px) {
    margin: 5px;
    border: 2px solid #FA7878;
    padding: 3px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    -webkit-transform: rotate(0deg); /* Safari */
    -moz-transform: rotate(0deg); /* Firefox */
    -ms-transform: rotate(0deg); /* IE */
    -o-transform: rotate(15deg); /* Opera */
  }
}

/* Effects */

.img-shadow {
  -webkit-box-shadow: 0px 10px 14px -8px rgba(97,97,97,1);
  -moz-box-shadow: 0px 10px 14px -8px rgba(97,97,97,1);
  box-shadow: 0px 10px 14px -8px rgba(97,97,97,1);
}

.img-border {
  border: 1px solid $grayLighter;
}

/* buttons */

.btn {
  a:link {color:#FF0000;}
  a:visited {color:#00FF00;}
}

.btn-spacer {
  margin-top: 5px;
}

/* Flash Messages */

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/* ---------------------------------------------- /*
 * HEADER & NAV
/* ---------------------------------------------- */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.navbar-logo {
  margin: -15px 15px 0 0;
  float: left;
}

.navbar.white .navbar-collapse .navbar-nav > li > a.btn.btn-nav {
  padding: 8px 10px;
  color: #fff;
  font-weight: 600;
  margin-right: 12px;
  background-color: #4589E3;
}

.navbar.white .navbar-collapse .navbar-nav > li > a.btn.btn-nav:hover {
  background-color: #3e7ac9;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* footer */

footer {
  margin: 30px 0;
  color: #797979;
  text-align: center;
  .white {
    color: white;
  }
}

#simple-footer-text {
  text-align:center;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #CFCFCF;
  border-radius: 5px;
  padding: 5px;
  margin: 7px 0;
  /* @include box_sizing; */
} 

.upload-btn {
  border: none;
}
  
input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  /*@extend .control-group;*/
  @extend .has-error;
}

.card-fields {
  float: right;
  margin-top: -5px;
}

#field-group-padding .form-group {
  padding-bottom: 30px;
}

#tour_price {
  background: url(image-path('dollar-sign.png')) no-repeat scroll 2px 2px;
  padding-left:17px;
}

/* ---------------------------------------------- /*
 * Dashboard
/* ---------------------------------------------- */

.profile-info-wrapper {
  margin-left: 20px;
  text-align: center;
}

.profile-pic-wrapper {
  width: 100%;
}

.profile-pic {
  margin: 10px;
  width: 80px;
  border-radius:100%;
}

.profile-name {
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  margin: 20px 0 5px 3px;
}

.profile-info {
  color: $grayLight;
  font-weight: 300;
  li {
    padding: 10px 0;
    margin: 0 0 0 -30px;
  }
}

.incomplete-profile {
  max-width: 250px;
  margin: 30px auto;
}

.feedback-blurb {
  margin-top: 25px;
  span {
    font-weight: 700;
    line-height: 1.5;
    font-size: 14px;
  }

}

.dashboard-btn {
  margin-top: 25px;
  width: 100%;
  padding: 30px 0 !important;
  font-size: 1.2em !important;
  vertical-align: middle;
  font-family: "Lato", "Helvetica Neue", Arial;
  span {
    color: $grayLight;
    font-size: .6em;
  }
}

.purchase-tour-btn {
  height: 150px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  //border: 1px solid #ccc;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glyphicon-lg {
  font-size: 2em;
}

.dashboard-btn-text {
}

/* Tours tables */

.dashboard-tours {
  clear: both;  
  margin-top: 30px;
  /* background-color: white;
  padding: 0 10px 10px 10px;
  border-radius:3px; */
}

.tours_title {
  font-size: 2em;
  text-align: center;
}

.tours {
  clear: both;
  th, td { 
    padding: 8px;
   }
  td {
    border-top: 1px solid #e8e8e8;
  }
  tr {
    border-radius: 3px;
  }
  tr:nth-child(even) {
    background-color:white;
  }
  tr:nth-child(odd) {
    background-color:#F2F2F2;
  }
}

#no-background {
  background-color: transparent;
}

tr.inactive {
  background-color: #ffb7b7 !important;
}

.no_tours_found {
  margin-top: 4em;
  clear: both;
  font-size: 1.5em;
  letter-spacing: normal;
}

/* Edit User */

.upload-btn {
  border: none;
  padding: 20px 0 0 0;
}

/* New Tour */

/* Edit Tour */

.tour-edit-subhead {
  background-color: white;
  padding: 8px 0;
  width: 100%;
}

.tour-links-inactive {
  margin-top: 18px;
  color: #d32626;
}

.tour-edit-body {
  margin-top: 15px;
}

.choose-theme {
  padding-left: 20px;
  .radio {
    margin-left:20px;
  }
  .control-label {
    margin-bottom: 0;
  }
}
/* upload progress bars */
.upload {
  border-top: solid 1px #CCC;
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px #555;
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 20px;
      background: #4997E6;
    }
  }
}

#photos-uploading-warning {
  display: none;
  margin-top: 10px;
}

#new-photos-processing-wrapper {
  display: none;
}

#new-photos-processing li {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
  margin-left: -5px;
  background-color: white;
  height: 106px;
}

#no-photos-found {
  margin-left: 10px;
}

#photo-preview-list li {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
  margin-left: -38px;
  background-color: white;
  clear: both;
}

.tour-instructions-box {
  display: inline-block;
  line-height: 2;
  margin: 8px 10px;
  border: 1px dotted $grayLight;
  border-radius: 3px;
  padding: 10px;
  background-color: #FDFFEB;
  color: $grayLight;
  i {
    font-size: 1.5em;
    margin-right: 12px;
  }
}

.drag-handle {
  cursor: move;
  i {
    float: left;
    font-size: 2em;
    margin: 30px 12px 0 0;
    color: $grayLight;
  }
}

.photo-preview-photo {
  float: left;
  margin-right: 20px;
  width: 140px;
}

.photo-magnify-icon {
  text-align: center;
  font-size: 10px;
  position: absolute;
  margin: 28px 0 0 88px;
  cursor: pointer;
  i {
    color:white;
  }
}

.photo-placeholder {
  height: 60px;
  width: 80px;
  background-color: #CCC;
  float: left;
  margin-right: 20px;
}

.photo-preview-filename {
  color: $grayLight;
  font-weight: normal;
  font-size: .9em;
  float: left;
}

.photo-preview-label {
  clear: right;
  float: left;
  margin: -15px 0 0 0;
}

.rest-in-place {
  cursor: pointer;
}

.rip-active::after {
  content: url(image-path('label-instr.png')) no-repeat scroll 5px 5px;

}

.photo-delete-btn {
  margin: 10px 10px 0 0;
  float: right;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}