<div class="container">

	<div class="row">

		<h1 class="center">Thank you! Your tour is ready to use.</h1>

		<h1 class="center"><i class="fa fa-thumbs-o-up"></i></h1>

		<br><br>

		<div class="col-xs-4 col-xs-offset-4">
		  
		  <%= link_to new_tour_path, class: "btn btn-default dashboard-btn", :'data-no-turbolink' => "true" do %>
		    <i class="glyphicon-lg glyphicon glyphicon-plus-sign"></i>
		    <br /><br />
		    Create New Tour
		  <% end %>
		</div>

	</div>

	<br><br>

	<h4 class="center">Need help while creating your tour? Contact us a <a href="mailto:support@showandtour.com">support@showandtour.com</a></h4>

</div>