<footer class="footer">
  <small>
    TourApp: a <a href="http://www.panoractives.com/">Panoractives</a> sister company
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Support", support_path %></li>
    </ul>
  </nav>
</footer>