<div class="container">
	<div class="row">
		<footer>
				<div class="<%= yield(:footer_class) %>">
					Copyright © 2015. Show & Tour | <a href="mailto:info@showandtour.com">info@showandtour.com</a>
				</div>
		</footer>
	</div>
</div>